@font-face {
   font-family: 'HelveticaNeue';
   src: url(../fonts/HelveticaNeue.woff2);
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'HelveticaNeueMedium';
   src: url(../fonts/HelveticaNeue-Medium.woff2);
   font-weight: 500;
   font-style: normal;
}

html,
body {
   /* font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif; */
   font-family: Helvetica, Arial, sans-serif;
   color: #323232;
}

* {
   /* border-radius: 0 !important; */
}

@media (max-width: 991.98px) {
   .wrapper {
      padding-bottom: 50px;
   }
}

@media (min-width: 992px) {
   .wrapper {
      min-height: 55vh;
   }
}

input::placeholder {
   opacity: .56 !important;
}